.vimwinpos
.cache
.gitconfig
.keras
.matplotlib
.ipython
.conda
.jupyter

*
!.emacs.d
!.emacs.d/*
!bin
!bin/*
!note
!note/*
!peco
!peco/*
!vimfiles
!vimfiles/*
!.bashrc
!.gitignore
!.gvimrc
!.ideavimrc
!.spacemacs
!.tmux.conf
!.vim
!.vim/*
!.vimrc
!.zshrc
!README.md
!_gvimrc
!_vimrc
!link.sh
