.CLion2016.3
.ICEauthority
.IdeaIC2016.3
.IntelliJIdea2016.3
.JetBrains
.PyCharm2016.3
.WebStorm2016.3
.Xauthority
.android
.aptitude
.azpainter
.bash_history
.bash_logout
.bashrc
.cache
.cinnamon
.config
.dbus
.dmrc
.dotfiles
.dropbox
.dropbox-dist
.emacs~
.freemind
.gconf
.gimp-2.8
.gksu.lock
.gnome
.icons
.java
.linuxmint
.local
.mozc
.mozilla
.mysql_history
.nano
.oracle_jre_usage
.p2
.pam_environment
.pki
.presage
.profile
.purple
.python_history
.sudo_as_admin_successful
.swt
.texmf-var
.themes
.thumbnails
.tooling
.viminfo
.w3m
.wget-hsts
.wine
.xinputrc
.xsel.log
.xsession-errors
CLionProjects
Desktop
Documents
Downloads
Dropbox
IdeaProjects
Music
Pictures
Public
PycharmProjects
Templates
Videos
VirtualBox VMs
WebstormProjects
bin
.lesshst
.skk-jisyo.lock
.skk-uim-jisyo
.skk-uim-jisyo.lock
.uim.d/
.zcompdump
.aobook/
.cask/
.gnupg/
.v2c/
.eclipse
.jmc
.recently-used
.Rhistory
.emacs.d/tutorial/
.gdfuse/
.gnome2/
.vifm/
.vimwinpos
GoogleDrive/
MyJavaPrograms/
workspace/
